

<mat-toolbar color="primary">

<mat-toolbar-row class="div-toolbar">
  <div class="div-logo centrar">
    <a [routerLink]="['/venta']"> <img class="avatar" src="./assets/img/logo.png" alt=""> </a>
  </div>
  <span class="title">Sistema de Ventas</span>
  <button mat-icon-button (click)="drawer.toggle();"><mat-icon>menu</mat-icon></button>

  <span class="spacer"></span>

  <button *ngIf="!usuario.correo" class="btn-login" mat-stroked-button routerLink="/login">
    <mat-icon class="side-icon">login</mat-icon>Iniciar Sesión
  </button>
  <button (click)="logout()" *ngIf="usuario.correo" class="btn-login" mat-stroked-button routerLink="/login">
    <mat-icon class="side-icon">logout</mat-icon>Cerrar Sesión
  </button>
</mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="container">
  <mat-drawer #drawer mode="side" opened class="side">

    <div class="menu" cdkMenu>

      <button class="menu-item" cdkMenuItem routerLink="/venta" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <mat-icon class="side-icon">shopping_cart</mat-icon>Ventas
      </button>

      <button class="menu-item" cdkMenuItem routerLink="/marca" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <mat-icon class="side-icon">bookmark</mat-icon>Marcas
      </button>

      <button class="menu-item" cdkMenuItem routerLink="/categoria" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <mat-icon class="side-icon">ballot</mat-icon>Categorías
      </button>

      <button class="menu-item" cdkMenuItem routerLink="/producto" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <mat-icon class="side-icon">trolley</mat-icon>Productos
      </button>

      <button class="menu-item" cdkMenuItem routerLink="/usuario" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <mat-icon class="side-icon">groups</mat-icon>Usuarios
      </button>


    </div>

  </mat-drawer>


  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>


