<div class="centrar">
  <mat-card class="card centrar">
    <mat-card-header>
      <mat-card-title class="title">
          <img class="avatar" src="./assets/img/user.png" alt="">
          <div>Iniciar Sesión</div>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="formLogin" (ngSubmit)="login()">

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput type="text" formControlName = "correo">
            <mat-icon matSuffix color="accent">mail</mat-icon>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName = "clave">
            <mat-icon matSuffix color="accent">password</mat-icon>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="formLogin.invalid">
          <mat-icon>login</mat-icon> Aceptar
        </button>
      </form>

    </mat-card-content>
  </mat-card>
  <br>
</div>
